# Сборки Wails
build/bin/
build/obj/

# Бинарник FFmpeg (очень тяжелый, в Git не пускаем)
ffmpeg.exe
autosync_ffmpeg.exe

# Временные файлы и логи
*.log
.DS_Store

# Папки зависимостей
frontend/node_modules/
