.DS_Store
Thumbs.db
.cache/
.autosync-runtime/
OLD/
winbundle/
*.exe
*.syso
third_party/windows/*.zip
/cmd/studio-desktop/winres/
/cmd/render-server-desktop/winres/
/autosync-studio
/autosync-render-server
/autosync-studio-desktop
/autosync-render-server-desktop
/studio-desktop
